.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background: #333333;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__text {
    color: #ffffff;
    margin-right: 15px;
    font-size: 25px;
    font-family: 'Open-sans', sans-serif;
}

.logo__icon {
    color: #ffffff;
    font-size: 25px;
    -webkit-animation: bounce 0.3s linear infinite;
    animation: bounce 0.3s linear infinite;

}

.search {
    position: relative;
}

.search__input {
    border-radius: 15px;
    padding: 5px 10px;
    border: 2px solid #000000;


}

.search__input:focus {
    outline: none;
}

.search__icon {
    position: absolute;
    top: 7px;
    right: 10px;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

